{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ],
  "rules": {
    "object-curly-spacing": "off",
    "quotes": "off",
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "indent": ["error", 2],
    "max-len": "off",
    "no-trailing-spaces": "off",
    "no-unused-vars": "warn",
    "arrow-parens": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-async-promise-executor": "off",
    "@typescript-eslint/no-var-requires": "off",
    "new-cap": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "guard-for-in": "off",
    "@typescript-eslint/no-floating-promises": 2
  }
}